<%= form_with(model: exemplar, local: true) do |form| %>
  <% if exemplar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exemplar.errors.count, "error") %> prohibited this exemplar from being saved:</h2>

      <ul>
      <% exemplar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :exemplar_nome %>
  </div>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id, id: :exemplar_book_id %>
  </div>

  <div class="field">
    <%= form.label :estante_id %>
    <%= form.text_field :estante_id, id: :exemplar_estante_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
