<p id="notice"><%= notice %></p>

<h1>Exemplars</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Book</th>
      <th>Estante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exemplars.each do |exemplar| %>
      <tr>
        <td><%= exemplar.nome %></td>
        <td><%= exemplar.book_id %></td>
        <td><%= exemplar.estante_id %></td>
        <td><%= link_to 'Show', exemplar %></td>
        <td><%= link_to 'Edit', edit_exemplar_path(exemplar) %></td>
        <td><%= link_to 'Destroy', exemplar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exemplar', new_exemplar_path %>
