<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @estante.nome %>
</p>

<p>
  <strong>User:</strong>
  <%= @estante.user_id %>
</p>

<%= link_to 'Edit', edit_estante_path(@estante) %> |
<%= link_to 'Back', estantes_path %>
