<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Apelido:</strong>
  <%= @user.apelido %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @user.telefone %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @user.senha %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
