<p id="notice"><%= notice %></p>

<h1>Resenhas</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>User</th>
      <th>Livro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resenhas.each do |resenha| %>
      <tr>
        <td><%= resenha.descricao %></td>
        <td><%= resenha.user_id %></td>
        <td><%= resenha.livro_id %></td>
        <td><%= link_to 'Show', resenha %></td>
        <td><%= link_to 'Edit', edit_resenha_path(resenha) %></td>
        <td><%= link_to 'Destroy', resenha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resenha', new_resenha_path %>
