<p id="notice"><%= notice %></p>

<h1>Livros</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Nome do autor</th>
      <th>Data da publicacao</th>
      <th>Codigo</th>
      <th>Genero literario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @livros.each do |livro| %>
      <tr>
        <td><%= livro.titulo %></td>
        <td><%= livro.nome_do_autor %></td>
        <td><%= livro.data_da_publicacao %></td>
        <td><%= livro.codigo %></td>
        <td><%= livro.genero_literario %></td>
        <td><%= link_to 'Show', livro %></td>
        <td><%= link_to 'Edit', edit_livro_path(livro) %></td>
        <td><%= link_to 'Destroy', livro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Livro', new_livro_path %>
